.App {
  text-align: center;
}

table {
  margin: auto;
  text-align: left; 
  table-layout:fixed;
  
}

.repolist {
  overflow-x:auto;
  margin: auto;
  width: 70%;
}

.nasatext {
  margin: auto;
  width: 65%;
}

.nasapic {
  max-width: 70%;
  height: auto;
}

.carousel {
  max-width: 850px;
  width: 90%;
  height: auto;
  margin: auto;
}
