.App {
  text-align: center;
}

table {
  margin: auto;
  text-align: left; 
  width:20%;
}

.nasatext {
  margin: auto;
  width: 65%;
}

.nasapic {
  max-width: 70%;
  height: auto;
}

.carousel {
  max-width: 850px;
  width: 90%;
  height: auto;
  margin: auto;
}
